.blog_container{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog_item{
    width: 360px;
    transition: .3s;
    border-radius: 8px;
    margin-bottom: 50px;
}
.blog_item:hover{
    box-shadow: 0px 0px 10px 0px black;
    transition: .3s;
}
.blog_item img{
    width: fit-content;
}
.date{
    color: #AEBEC9;
    text-align: left;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 20px;
}
.comment{
    text-align: left;
    padding: 20px 0;
    font-size: 18px;
}