.container{
    width: 100%;
    margin-top: 30px;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reg{
    display: flex;
    align-items: center;
    width: 125px;
    justify-content: space-between;
}
.enter{
    color: white;
    background: #1B5BF7;
    height: 48px;
    width: 80px;
    border-radius: 8px;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.menu{
    width: 55%;
    margin-top: 50px; 
    display: flex;
    justify-content: space-between;
}
.menu div{
    font-size: 16px;
    cursor: pointer;
}